:host {
  display: block;

  input[type='range'] {
    @apply h-2 w-full cursor-pointer appearance-none rounded-lg bg-gray-200;

    &::-webkit-slider-thumb {
      @apply h-4 w-4 cursor-pointer appearance-none rounded-full bg-blue-600 hover:bg-blue-700;
    }

    &::-moz-range-thumb {
      @apply h-4 w-4 cursor-pointer appearance-none rounded-full border-0 bg-blue-600 hover:bg-blue-700;
    }
  }
}
